<div id="footer" class="panel">
  <div class="panel-footer">
	<div class="container-fluid">
	  <div class="row">


			<ul class="nav navbar-nav navbar-right">
				<li><a href="https://www.stjude.cloud/" target="_blank">St. Jude Cloud</a></li>
				<li><a href="https://www.stjude.org/" target="_blank">St. Jude</a></li>
				<li><a href="{{ site.url }}{{ site.baseurl }}/about">About</a></li>
				<li><a href="{{ site.url }}{{ site.baseurl }}/recruitment">Recruitment</a></li>
			</ul>

		
	  </div>
	</div>
  </div>
</div>

{% if site.devorprod == 'production' %}
  {% if site.enable_google_tagmanager %}
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ site.google_tagmanager }}"
                      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
  {% endif %}
{% endif %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
