
<div class="container">
  <div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <div>
        <a class="navbar-brand" href="{{ site.url }}{{ site.baseurl }}/">{{ site.title }}</a>
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main_nav" aria-expanded="false">
          <span class="glyphicon glyphicon-menu-hamburger"></span>
        </button>

        <div class="collapse navbar-collapse" id="main_nav">
          <ul class="nav navbar-nav navbar-right">
            {% assign links = site.data.navigation %}
            {% for link in links %}
              {% assign class = nil %}
              {% if page.url == link.link %}
                {% assign class = 'active' %}
              {% endif %}

              {% if link.sublinks %}
                <li class="dropdown {{ class }}">
                  {% assign linkname = link.name %}
                  {% if page.group %}
                    {% assign linkname = page.group %}
                  {% endif %}
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownGroup" role="button" data-toggle="dropdown" title="Click to toggle dropmenu" aria-haspopup="true" aria-expanded="false">
                    <p style="text-decoration:underline;text-decoration-color:{{ page.groupcolor }};">
                    {{ linkname }}
                    <span class="caret"></span>
                    </p>
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdownGroup">
                    {% for sublink in link.sublinks %}
                      {% if sublink.name == 'separator' %}
                        <li role="separator" class="divider"></li>
                      {% else %}
                        <li>
                          <a class="dropdown-item" href="{{ site.url }}{{ site.baseurl }}{{ sublink.link }}">{{ sublink.name }}</a>
                        </li>
                      {% endif %}
                    {% endfor %}
                  </ul>
                </li>
              {% else %}
                {% if link.iscommon %}
                  <li class="{{ class }}">
                    <a href="{{ site.url }}{{ site.baseurl }}{{ link.link }}">
                      {{ link.name }}
                    </a>
                  </li>
                {% else %}
                  {% assign ifgroupspec = nil %}
                  {% assign thislink = link.link | remove_first: "/" %}
                  {% assign thisgrouplink = page.group | prepend: "/" | append: "_" | append: thislink %}
                  {% if page.groupspec %}
                    {% if page.group and page.groupcolor and page.groupspec contains thislink %}
                      {% assign ifgroupspec = 1 %}
                    {% endif %}
                  {% else %}
                    {% if page.group and page.groupcolor %}
                      {% assign ifgroupspec = 1 %}
                    {% endif %}
                  {% endif %}
                  {% if page.url == thisgrouplink %}
                    {% assign class = 'active' %}
                  {% endif %}
                  {% if ifgroupspec %}
                    <li class="{{ class }}">
                    <a data-toggle="tooltip" title="Group Specific" href="{{ site.url }}{{ site.baseurl }}/{{page.group}}_{{ link.link | remove_first: "/" }}">
                      <p style="text-decoration:underline;text-decoration-color:{{ page.groupcolor }};">
                      {{ link.name }}
                      </p>
                    </a>
                    </li>
                  {% else %}
                    <li class="{{ class }}">
                    <a href="{{ site.url }}{{ site.baseurl }}{{ link.link }}">
                      {{ link.name }}
                    </a>
                    </li>
                  {% endif %}
                {% endif %}
              {% endif %}
            {% endfor %}
            <li align="center" style="padding-top: 14px;padding-bottom: 14px;">
              <form action="/search.html" method="get">
                <input type="text" id="search-box" name="query" style="width: 80px; height: 20px;">
                <input type="submit" value="search" style = "font-size:12px; height: 20px;">
              </form>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script id="rendered-js">
const $dropdown = $(".dropdown");
const $dropdownToggle = $(".dropdown-toggle");
const $dropdownMenu = $(".dropdown-menu");
const showClass = "show";

$(window).on("load resize", function () {
  if (this.matchMedia("(min-width: 768px)").matches) {
    $dropdown.hover(
    function () {
      const $this = $(this);
      $this.addClass(showClass);
      $this.find($dropdownToggle).attr("aria-expanded", "true");
      $this.find($dropdownMenu).addClass(showClass);
    },
    function () {
      const $this = $(this);
      $this.removeClass(showClass);
      $this.find($dropdownToggle).attr("aria-expanded", "false");
      $this.find($dropdownMenu).removeClass(showClass);
    });

  } else {
    $dropdown.off("mouseenter mouseleave");
  }
});
</script>
