---
---
<div class="row">
  <div class="col-sm-2 abbr">
  {% if entry.abbr %}
    <abbr class="badge"><a href="https://doi.org/{{ entry.doi }}" target="_blank">{{ entry.abbr }}</a></abbr>
    {% else %}
    <abbr class="badge"><a href="https://doi.org/{{ entry.doi }}" target="_blank">{{ entry.journal }}</a></abbr>
  {% endif %}
  </div>

  <div id="{{entry.key}}" class="col-sm-8">
    {% if entry.type == "thesis" %}
      {{reference}}
    {% else %}
      {% assign entry_id = entry.key | replace: ':', '-' | replace: '.', '_' %}
      <div id="{{entry_id}}" class="col p-0">
      <div class="title">{{entry.title}}</div>
      <div class="author">
        {% assign authors_team = site.scholar.first_names_team | split: ";" %}
        {% if entry.cofirst %}
          {% assign tmp = entry.cofirst | split: ";" %}
            {% if tmp.size == 2 %}
              {% assign corresponding = tmp[1] %}
              {% assign tmp2 = corresponding | split: "," %}
              {% assign corresponding_array = "" | split: ',' %}
              {% for one in tmp2 %}
                {% capture onetmp2 %}{{one}}{% endcapture %}
                {% if one == "-1" %}
                  {% capture onetmp2 %}{{entry.author_array.size }}{% endcapture %}
                {% endif %}
                {% if one == "-2" %}
                  {% capture onetmp2 %}{{entry.author_array.size | minus: 1}}{% endcapture %}
                {% endif %}
                {% if one == "-3" %}
                  {% capture onetmp2 %}{{entry.author_array.size | minus: 2}}{% endcapture %}
                {% endif %}
                {% if one == "-4" %}
                  {% capture onetmp2 %}{{entry.author_array.size | minus: 3}}{% endcapture %}
                {% endif %}
                {% if one == "-5" %}
                  {% capture onetmp2 %}{{entry.author_array.size | minus: 4}}{% endcapture %}
                {% endif %}
                {% assign corresponding_array = corresponding_array | push: onetmp2 %}
              {% endfor %}
            {% else %}
              {% assign corresponding_array = "" | split: ',' %}
            {% endif %}
            {% assign cofirst = tmp[0] %}
            {% assign tmp = cofirst | split: "," %}
            {% assign cofirst_array = "" | split: ',' %}
            {% if tmp.size > 1 %}
              {% for one in tmp %}
                {% assign cofirst_array = cofirst_array | push: one %}
              {% endfor %}
            {% else %}
              {% for one in (1..tmp[0]) %}
                {% capture onetmp %}{{one}}{% endcapture %}
                {% assign cofirst_array = cofirst_array | push: onetmp %}
              {% endfor %}
            {% endif %}
        {% else %}
          {% assign cofirst_array = "" | split: ',' %}
        {% endif %}
        {% for author in entry.author_array %}
          {% assign author_is_self = false %}
          {% if author.last == site.scholar.last_name%}
            {% if site.scholar.first_name contains author.first%}
              {% assign author_is_self = true %}
            {% endif %}
          {% endif %}
          {% assign author_is_team = false %}
          {% for author_team in authors_team %}
            {% if authors_team contains author.first %}
              {% assign author_is_team = true %}
            {% endif %}
          {% endfor %}
          {% assign coauthor_url = nil %}
          {% if site.data.coauthors[author.first] %}
            {% assign coauthor_url = site.data.coauthors[author.first].url %}
          {% else %}
            {% for coauthor in site.data.coauthors %}
              {% if coauthor contains author.first %}
                {% assign coauthor_url = coauthor.url %}
                {% break %}
              {% endif %}
            {% endfor %}
          {% endif %}

          {% assign styleauthor = {{author.last}} | append: ' ' | append: {{author.first}} %}
          {% if author_is_self %}
              {% assign styleauthor = {{styleauthor}} | prepend: '<strong>' | append: '</strong>' %}
          {% endif %}
          {% if author_is_team %}
              {% assign styleauthor = {{styleauthor}} | prepend: '<em>' | append: '</em>' %}
          {% endif %}
          {% if coauthor_url %}
              {% assign styleauthor = {{styleauthor}} | prepend: '<a href="{{coauthor_url}}" target="_blank">' | append: '</a>' %}
          {% endif %}
          {% capture authorindex_str %}{{forloop.index}}{% endcapture %}
          {% if cofirst_array contains authorindex_str %}
             {% assign styleauthor = {{styleauthor}} | append: '<nobr><em>*</em></nobr>' %}
          {% endif %}
          {% if corresponding_array contains authorindex_str %}
             {% assign styleauthor = {{styleauthor}} | append: '<nobr><em>#</em></nobr>' %}
          {% endif %}
          {% if forloop.last == false %}
             {% assign styleauthor = {{styleauthor}} | append: ',' %}
          {% endif %}
          {{ styleauthor }}
          {% endfor %}
      </div>
      <div class="periodical">
      {% if entry.type == "article" %}
        <em>{{entry.journal}}</em>
      {% elsif entry.type == "inproceedings" %}
        <em>In {{entry.booktitle}}</em>
      {% endif %}
      {% if entry.year %}
        {{entry.year}}
      {% endif %}
      </div>
      </div>
    {% endif %}

    <div class="links">
    {% if entry.abstract %}
    <a class="abstract btn btn-sm z-depth-0" data-toggle="collapse" href="#{{entry_id}}-abstract" role="button" aria-expanded="false" aria-controls="{{entry_id}}-abstract">Abstract</a>
    {% endif %}
    {% if entry.doi %}
      <a href="https://doi.org/{{ entry.doi }}" class="btn btn-sm z-depth-0" role="button" target="_blank">DOI</a>
    {% endif %}
    {% if entry.pmcid %}
      <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/{{ entry.pmcid }}" class="btn btn-sm z-depth-0" role="button" target="_blank">PMC</a>
    {% endif %}
    {% if entry.pmid %}
      <a href="https://pubmed.ncbi.nlm.nih.gov/{{ entry.pmcid }}" class="btn btn-sm z-depth-0" role="button" target="_blank">PMID</a>
    {% endif %}
    {% if entry.browser %}
        {% assign ids = entry.browser | split: ";" %}
        {% for id in ids %}
            {% assign vals = id | split: "," %}
                {% if vals.size == 2 %}
                {% assign linkname = vals[1] %}
                {% else %}
                {% assign linkname = "" %}
                {% endif %}
            <a href="{{ vals[0] }}" class="btn btn-sm z-depth-0" role="button" target="_blank">Browser:{{ linkname }}</a>
        {% endfor %}
    {% endif %}
    {% if entry.extralinks %}
        {% assign ids = entry.extralinks | split: ";" %}
        {% for id in ids %}
            {% assign vals = id | split: "," %}
                {% if vals.size == 2 %}
                {% assign linkname = vals[1] %}
                {% else %}
                {% assign linkname = "Link" %}
                {% endif %}
            <a href="{{ vals[0] }}" class="btn btn-sm z-depth-0" role="button" target="_blank">More:{{ linkname }}</a>
        {% endfor %}
    {% endif %}


    {% if entry.geoid %}
        {% assign ids = entry.geoid | split: ";" %}
        {% for id in ids %}
            {% assign vals = id | split: "," %}
                {% if vals.size == 2 %}
                {% assign linkname = vals[1] %}
                {% else %}
                {% assign linkname = vals[0] %}
                {% endif %}
            <a href="https://www.ncbi.nlm.nih.gov/geo/query/acc.cgi?acc={{ vals[0] }}" class="btn btn-sm z-depth-0" role="button" target="_blank">GEO:{{ linkname }}</a>
        {% endfor %}
    {% endif %}
    {% if entry.sraid %}
        {% assign ids = entry.sraid | split: ";" %}
        {% for id in ids %}
            {% assign vals = id | split: "," %}
                {% if vals.size == 2 %}
                {% assign linkname = vals[1] %}
                {% else %}
                {% assign linkname = vals[0] %}
                {% endif %}
            <a href="https://www.ncbi.nlm.nih.gov/bioproject/{{ vals[0] }}" class="btn btn-sm z-depth-0" role="button" target="_blank">SRA:{{ linkname }}</a>
        {% endfor %}
    {% endif %}
    {% if entry.egaid %}
        {% assign ids = entry.egaid | split: ";" %}
        {% for id in ids %}
            {% assign vals = id | split: "," %}
                {% if vals.size == 2 %}
                {% assign linkname = vals[1] %}
                {% else %}
                {% assign linkname = "Link" %}
                {% endif %}
            <a href="https://www.ebi.ac.uk/ega/studies/{{ vals[0] }}" class="btn btn-sm z-depth-0" role="button" target="_blank">EGA:{{ linkname }}</a>
        {% endfor %}
    {% endif %}

    {% if entry.arxiv %}
      <a href="http://arxiv.org/abs/{{ entry.arxiv }}" class="btn btn-sm z-depth-0" role="button" target="_blank">arXiv</a>
    {% endif %}
    {% if entry.html %}
      <a href="{{ entry.html }}" class="btn btn-sm z-depth-0" role="button" target="_blank">HTML</a>
    {% endif %}
    {% if entry.pdf %}
      {% if entry.pdf contains '://' %}
      <a href="{{ entry.pdf }}" class="btn btn-sm z-depth-0" role="button" target="_blank">PDF</a>
      {% else %}
      <a href="{{ entry.pdf | prepend: '/assets/pdf/' | relative_url }}" class="btn btn-sm z-depth-0" role="button" target="_blank">PDF</a>
      {% endif %}
    {% endif %}
    {% if entry.supp %}
      {% if entry.supp contains '://' %}
      <a href="{{ entry.supp }}" class="btn btn-sm z-depth-0" role="button" target="_blank">Supp</a>
      {% else %}
      <a href="{{ entry.supp | prepend: '/assets/pdf/' | relative_url }}" class="btn btn-sm z-depth-0" role="button" target="_blank">Supp</a>
      {% endif %}
    {% endif %}
    {% if entry.blog %}
      <a href="{{ entry.blog }}" class="btn btn-sm z-depth-0" role="button" target="_blank">Blog</a>
    {% endif %}
    {% if entry.code %}
      <a href="{{ entry.code }}" class="btn btn-sm z-depth-0" role="button" target="_blank">Code</a>
    {% endif %}
    {% if entry.poster %}
      {% if entry.poster contains '://' %}
      <a href="{{ entry.poster }}" class="btn btn-sm z-depth-0" role="button" target="_blank">Poster</a>
      {% else %}
      <a href="{{ entry.poster | prepend: '/assets/pdf/' | relative_url }}" class="btn btn-sm z-depth-0" role="button" target="_blank">Poster</a>
      {% endif %}
    {% endif %}
    {% if entry.slides %}
      {% if entry.slides contains '://' %}
      <a href="{{ entry.slides }}" class="btn btn-sm z-depth-0" role="button" target="_blank">Slides</a>
      {% else %}
      <a href="{{ entry.slides | prepend: '/assets/pdf/' | relative_url }}" class="btn btn-sm z-depth-0" role="button" target="_blank">Slides</a>
      {% endif %}
    {% endif %}
    {% if entry.website %}
      <a href="{{ entry.website }}" class="btn btn-sm z-depth-0" role="button" target="_blank">Website</a>
    {% endif %}
    </div>

    <!-- Hidden abstract block -->
    {% if entry.abstract %}
    <div id="{{entry_id}}-abstract" class="collapse">
        <span class="border border-primary">
        <div class="card border-primary mb-3">
            <div class="card-body text-primary">
                <p class="card-text">
                {{ entry.abstract }}
                </p>
            </div>
        </div>
        </span>
    </div>
    {% endif %}
  </div>
</div>
